/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

.heading {
  color: #ffff;
  font-family: 'Bree Serif';
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
}
